*{
    margin: 0px;
    padding: 0px;

box-sizing: border-box;}
.loadingGif{
    width: 100%;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.loadingGif img{
    width: 100%;
    max-width: 600px;
}
.linkNotFound{
    width: 70%;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    color: #5b3d3d;
    font-weight: 700;
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.linkNotFoundCon{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.redirectLinkFou{
    margin-top:100px ;
}
.sasiHeading{
    color: #5b3d3d;
    font-weight: 700;
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    text-align: center;
    padding: 15px;
    position: sticky;
    top:0px;
    background-color: #F1E5D1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.copyDown{
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media only screen and (max-width:850px){
    .sasiHeading{
        font-size: 40px;
    }
    
}
@media only screen and (max-width:456px){
    .linkNotFound{
        font-size: 30px;
        height: 200px;
    }
    .sasiHeading{
        font-size: 30px;
    }
    
}
@media only screen and (max-width:356px){
    .linkNotFound{
        font-size: 25px;
        height: 150px;
    }
    .sasiHeading{
        font-size: 25px;
    }
}
@media only screen and (max-width:300px){
    .linkNotFound{
        font-size: 20px;
        height: 150px;
    }
    .sasiHeading{
        font-size: 22px;
    }
}